In [1]:
import plotly
plotly.__version__

'3.6.1'

In [1]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/bcdunbar/datasets/master/iris.csv")

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

In [5]:
data = [
    go.Parcoords(
        line = dict(color = df['species_id'],
                   colorscale = [[0,'#D7C16B'],[0.5,'#23D8C3'],[1,'#F3F10F']]),
        dimensions = list([
            dict(range = [0,8],
                constraintrange = [4,8],
                label = 'Sepal Length', values = df['sepal_length']),
            dict(range = [0,8],
                label = 'Sepal Width', values = df['sepal_width']),
            dict(range = [0,8],
                label = 'Petal Length', values = df['petal_length']),
            dict(range = [0,8],
                label = 'Petal Width', values = df['petal_width'])
        ])
    )
]

layout = go.Layout(
    plot_bgcolor = '#E5E5E5',
    paper_bgcolor = '#E5E5E5'
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'parcoords-basic')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [19]:
df_full = pd.read_csv("D:/WordsearchProject/Githubfile/------/final_code/data/training_data.csv")

In [20]:
df = df_full[:2000]

In [26]:
type = df['BUY_TYPE']

In [32]:
listtype = []
for i in type :
    if i == 'a' :
        listtype.append(1)
    if i == 'b' :
        listtype.append(2)
    if i == 'c' :
        listtype.append(3)
    if i == 'd' :
        listtype.append(4)
    if i == 'e' :
        listtype.append(5)
    if i == 'f' :
        listtype.append(6)
    if i == 'g' :
        listtype.append(7)

In [33]:
df['BUY_TYPE'] = listtype

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
df.head(3)

,Unnamed: 0,CUST_ID,HEIGHT,WEIGHT,BUDGET,AGE_0,AGE_1,AGE_2,AGE_3,AGE_4,...,TY6_5,TY6_6,TY7_0,TY7_1,TY7_2,TY7_3,TY7_4,TY7_5,TY7_6,BUY_TYPE
0,0,2903965,0.290444,-0.069464,-0.097277,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,1
1,1,2815518,0.076742,0.090842,0.527346,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
2,2,526983,0.172307,-0.162807,-0.236314,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4

In [23]:
columns = df.columns.to_list()

In [24]:
columns

['Unnamed: 0',
 'CUST_ID',
 'HEIGHT',
 'WEIGHT',
 'BUDGET',
 'AGE_0',
 'AGE_1',
 'AGE_2',
 'AGE_3',
 'AGE_4',
 'AGE_5',
 'AGE_6',
 'AGE_7',
 'AGE_8',
 'AGE_9',
 'AGE_10',
 'AGE_11',
 'AGE_12',
 'AGE_13',
 'AGE_14',
 'AGE_15',
 'AGE_16',
 'City_0',
 'City_1',
 'City_2',
 'City_3',
 'City_4',
 'City_5',
 'City_6',
 'City_7',
 'City_8',
 'City_9',
 'City_10',
 'City_11',
 'City_12',
 'City_13',
 'City_14',
 'City_15',
 'City_16',
 'City_17',
 'City_18',
 'City_19',
 'City_20',
 'City_21',
 'City_22',
 'MAR_0',
 'MAR_1',
 'MAR_2',
 'MAR_3',
 'MAR_4',
 'MAR_5',
 'MONTH_1',
 'MONTH_2',
 'MONTH_3',
 'MONTH_4',
 'MONTH_5',
 'MONTH_6',
 'MONTH_7',
 'MONTH_8',
 'MONTH_9',
 'MONTH_10',
 'MONTH_11',
 'MONTH_12',
 'CHL_1',
 'CHL_2',
 'CHL_3',
 'CHL_4',
 'CHL_5',
 'CHL_6',
 'CHL_7',
 'CHL_8',
 'CHL_9',
 'CHL_10',
 'CHL_11',
 'EDU_0',
 'EDU_1',
 'EDU_2',
 'EDU_3',
 'A',
 'B',
 'A.1',
 'B.1',
 'A.2',
 'B.2',
 'TY1_0',
 'TY1_1',
 'TY1_2',
 'TY1_3',
 'TY1_4',
 'TY1_5',
 'TY1_6',
 'TY2_0',
 'TY2_1',
 'TY2_2',
 'TY2_3',
 'TY2_4',
 'TY2_5',
 'TY2_6',
 'TY3_0',
 'TY3_1',
 'TY3_2',
 'TY3_3',
 'TY3_4',
 'TY4_0',
 'TY4_1',
 'TY4_2',
 'TY4_3',
 'TY4_4',
 'TY4_5',
 'TY4_6',
 'TY5_0',
 'TY5_1',
 'TY5_2',
 'TY5_3',
 'TY5_4',
 'TY5_5',
 'TY5_6',
 'TY6_0',
 'TY6_1',
 'TY6_2',
 'TY6_3',
 'TY6_4',
 'TY6_5',
 'TY6_6',
 'TY7_0',
 'TY7_1',
 'TY7_2',
 'TY7_3',
 'TY7_4',
 'TY7_5',
 'TY7_6',
 'BUY_TYPE']

In [42]:
data = [
    go.Parcoords(
        line = dict(color = df['BUY_TYPE'],
                   autocolorscale = True),
        dimensions = list([
            dict(range = [-1,1],
                label = 'BUDGET', values = df['BUDGET']),
            dict(tickvals = [0,1],
                ticktext =['N','Y'],
                label = 'AGE_1', values = df['AGE_1']),
            dict(tickvals = [0,1],
                ticktext =['N','Y'],
                label = 'AGE_2', values = df['AGE_2']),
            dict(tickvals = [0,1],
                ticktext =['N','Y'],
                label = 'AGE_3', values = df['AGE_3']),
            dict(tickvals = [0,1],
                ticktext =['N','Y'],
                label = 'MONTH_1', values = df['MONTH_1']),
            dict(tickvals = [0,1],
                ticktext =['N','Y'],
                label = 'MONTH_2', values = df['MONTH_2']),
            dict(tickvals = [0,1],
                ticktext =['N','Y'],
                label = 'MONTH_3', values = df['MONTH_3']),
            dict(tickvals = [0,1],
                ticktext =['N','Y'],
                label = 'MONTH_4', values = df['MONTH_4']),
            dict(tickvals = [0,1],
                ticktext =['N','Y'],
                label = 'MONTH_5', values = df['MONTH_5']),
            dict(tickvals = [0,1],
                ticktext =['N','Y'],
                label = 'MONTH_6', values = df['MONTH_6'])
            
        ])
    )
]

py.iplot(data, filename = 'parcoord-dimensions')